.warn_note{
    font-size: 8pt;
    color: red;
}

.center{
    text-align: center;
}
.textarea{
    min-width: 800px;
    min-height: 400px;;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    overflow: auto;
}
.textarea:empty:before{
    content: attr(placeholder);
    color: #ccc;
  }