<nb-card>
  <nb-card-header>
    <h4>Write A Tutorial</h4>
  </nb-card-header>
	<nb-card-body >
		<table>
			<tr>
				<td><label for="tutor_title">Title * : </label></td>
				<td><input type="text" id="tutor_title" fieldSize="small" nbInput status="primary" 
				placeholder="eg: How To Code" [(ngModel)]="this.ws.data.title" [formControl]="this.ws.titFC"></td>
			</tr>
			<tr>
				<td></td><td><span class="warn_note" *ngIf="!this.ws.titFC.valid && this.ws.titFC.dirty">* Start With Capital latter</span></td>
			</tr>
			<tr>
				<td><label for="tutor_tag">Tag: </label></td>
				<td><input type="text" id="tutor_tag" fieldSize="large" nbInput status="primary" placeholder="eg: CSS HTML JS" 
				[(ngModel)]="this.ws.data.tag" [formControl]="this.ws.tagFC"></td>
			</tr>
			<tr>
				<td></td><td><span class="warn_note" *ngIf="!this.ws.tagFC.valid && this.ws.titFC.dirty">* Start With capital Letter</span></td>
			</tr>
			<div *ngFor="let type of this.data.steps">
				<h4 *ngIf="type == StepType.featureTitle">Chapter #1</h4>
				<p *ngIf="type == StepType.featureTitle">Description</p>

			</div>
			<tr>
				<td></td>
				<td><button nbButton (click)="pushStep(StepType.featureTitle)">new title</button></td>
				<td><button nbButton (click)="pushStep(StepType.featureDescription)">new description</button></td>
				<td><button nbButton (click)="pushStep(StepType.featureCode)">new code</button></td>
				<td></td>
			</tr>
		<button nbButton *ngIf="true" status="info" (click)="ws.save()">save</button>
	</table>
	</nb-card-body>
	<nb-card-footer>
		<span class="center">* requires</span>
	</nb-card-footer>
</nb-card>
<nb-card #modalTemplate >
  <button nbButton status="info" (click)="val(1)">Yes</button>
  <button nbButton status="warning" (click)="val(2)">No</button>
</nb-card>