<nb-layout>
<nb-layout-column>
	
<nb-card>
  <nb-card-header>
    <h4>Write A Tutorial</h4>
  </nb-card-header>
	<nb-card-body >
		<table>
			<tr>
				<td><label for="tutor_title">Title * : </label></td>
				<td><input type="text" id="tutor_title" fieldSize="small" nbInput status="primary" 
				placeholder="eg: How To Code" [(ngModel)]="this.ws.data.title" [formControl]="this.ws.titFC"></td>
			</tr>
			<tr>
				<td></td><td><span class="warn_note" *ngIf="!this.ws.titFC.valid && this.ws.titFC.dirty">* Start With Capital latter</span></td>
			</tr>
			<tr>
				<td><label for="tutor_tag">Tag: </label></td>
				<td><input type="text" id="tutor_tag" fieldSize="large" nbInput status="primary" placeholder="eg: CSS HTML JS" 
				[(ngModel)]="this.ws.data.tag" [formControl]="this.ws.tagFC"></td>
			</tr>
			<tr>
				<td></td><td><span class="warn_note" *ngIf="!this.ws.tagFC.valid && this.ws.titFC.dirty">* Start With capital Letter</span></td>
			</tr>
			<tr><td colspan="2">
        <div contenteditable placeholder="code here" class="textarea" (input)="ws.onCodeChange($event.target.innerHTML)">
      </div></td></tr>
		<button nbButton status="info" (click)="ws.save()">save</button>
	</table>
	</nb-card-body>
	<nb-card-footer>
		<span class="center">* requires</span>
	</nb-card-footer>
</nb-card>
<nb-card >
	{{ws.tags | json}}
</nb-card>
<nb-card>
	<nb-card-body>
		<nb-select [(selected)]="ws.selectedTag">
			<nb-option *ngFor="let t of ws.tags" [value]="t">
			  {{ t.tag }}
			</nb-option>
		  </nb-select>
	</nb-card-body>
</nb-card>

</nb-layout-column>
</nb-layout>