<nb-layout>
  <nb-layout-header fixed>
    <tr>
      <a routerLink="home" routerLinkActive="active-link">Home</a>
      <a routerLink="write" routerLinkActive="active-link">Write</a>
      <a routerLink="tutorial" routerLinkActive="active-link">Tutorials</a>
    </tr>
    <nb-user *ngIf="true" size="large" name="{{ this.ls.user }}" title="{{ this.ls.user }}" [nbContextMenu]="contextMenu"
     [onlyPicture]="true" nbContextMenuTrigger="hover" nbContextMenuTag="avatar-context-menu">
    </nb-user>
    <!-- <button nbButton (click)="logout()" appearance="ghost" *ngIf="true">logout</button>
    <button nbButton  (click)="login()" appearance="ghost" *ngIf="true">login</button> -->
  </nb-layout-header>
  <nb-layout-column >
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    Open Source abdulazizabdulnoor@gmail.com
  </nb-layout-footer>
</nb-layout>

