input, textarea, button{
    margin: 5px 10px;
}
nb-card-footer{
    text-align: center;
}
tr,td,th{
    text-align: center;
}
nb-stepper,nb-step {
    text-align: center;
}
nb-actions{
    margin: auto;
}
.sidebar{
    max-width: 200px;
    /* background-color: rgb(114, 123, 250); */
    margin: 0px;
    padding: 0px;
}

nb-list-item{
    max-width: 160px;
    /* background-color: rosybrown; */
}
tr{
    margin:0 auto;
} 
tr > a {
    margin: 10px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif !important;
    font-size: 18pt;
}
tr > a:hover {
    margin: 10px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif !important;
    font-size: 18pt;
    color: turquoise;
}
.active-link{
    color: blue !important;
}
