<nb-card class="custom_textarea" >
    <nb-card-header>
        This is Header        
    </nb-card-header>
    <nb-card-body>
        <div #pRef class="pRef">
           
        </div>
        <h6 contenteditable (input)="onNameChange($event.target.innerHTML)">edit me</h6>
        <!-- <h2 contenteditable (input)="onNameChange($event.target.innerHTML)">Im Funny</h2> -->
        <h2>Im Jum</h2>
    </nb-card-body>
    <nb-card-footer>
        This is footer
    </nb-card-footer>
</nb-card>




