<nb-card>
    <nb-card-body  class="center">
    <span *ngIf="hs.tags">
     <tr *ngFor="let tag of hs.tags">
      <!-- <button *ngIf=" tag.tag=='html' " nbButton >
            <nb-badge text="{{ tag.cumulative }}+" status="warning" position="top">
            </nb-badge>
            <fa-icon [icon]='faHtml5' size="4x"></fa-icon>
        </button>
        <button *ngIf=" tag.tag=='code' " nbButton>
            <nb-badge text="{{ tag.cumulative }}+" status="info" position="top">
            </nb-badge>
            <fa-icon [icon]='faCode' size="4x"></fa-icon>
        </button>
        <button *ngIf=" tag.tag=='angular' " nbButton>
            <nb-badge text="{{ tag.cumulative }}+" status="info" position="top">
            </nb-badge>
            <fa-icon [icon]='faAngular' size="4x"></fa-icon>
        </button>
        <button *ngIf=" tag.tag=='vuejs' " nbButton>
            <nb-badge text="{{ tag.cumulative }}+" status="danger" position="top">
            </nb-badge>
            <fa-icon [icon]='faVuejs' size="4x"></fa-icon>
        </button>
        <button *ngIf=" tag.tag=='python' " nbButton>
            <nb-badge text="{{ tag.cumulative }}+" status="danger" position="top">
            </nb-badge>
            <fa-icon [icon]='faPython' size="4x"></fa-icon>
        </button>
        <button *ngIf=" tag.tag=='php' " nbButton>
            <nb-badge text="{{ tag.cumulative }}+" status="danger" position="top">
            </nb-badge>
            <fa-icon [icon]='faPhp' size="4x"></fa-icon>
        </button>
        <button *ngIf=" tag.tag=='laravel' " nbButton>
            <nb-badge text="{{ tag.cumulative }}+" status="warning" position="top">
            </nb-badge>
            <fa-icon [icon]='faLaravel' size="4x"></fa-icon>
        </button>
        <button *ngIf=" tag.tag=='wordpress' " nbButton>
            <nb-badge text="{{ tag.cumulative }}+" status="primary" position="top">
            </nb-badge>
            <fa-icon [icon]='faWordpress' size="4x"></fa-icon>
        </button> --> 
        {{ tag | json}}
    </tr>
</span>
    </nb-card-body>
</nb-card>
<nb-card >
    <h1>hs.tags</h1>
    {{ hs.tags | json}}
    <!-- <nb-card-body><nb-icon icon="bell-outline"></nb-icon>{{  d.payload.doc.data().log }}</nb-card-body> -->
</nb-card>
