.tag{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}
button{
    padding: 1px;
    margin: 5px;
    width: 100px;
}
.center{
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
}