<nb-card>
    <nb-card-body class="center">
        <button nbButton >
            <nb-badge text="10+" status="warning" position="top">
            </nb-badge>
            <fa-icon [icon]='faHtml5' size="4x"></fa-icon>
        </button>
        <button nbButton>
            <nb-badge text="20+" status="info" position="top">
            </nb-badge>
            <fa-icon [icon]='faCode' size="4x"></fa-icon>
        </button>
        <button nbButton>
            <nb-badge text="20+" status="info" position="top">
            </nb-badge>
            <fa-icon [icon]='faAngular' size="4x"></fa-icon>
        </button>
        <button nbButton>
            <nb-badge text="20+" status="danger" position="top">
            </nb-badge>
            <fa-icon [icon]='faVuejs' size="4x"></fa-icon>
        </button>
        <button nbButton>
            <nb-badge text="20+" status="danger" position="top">
            </nb-badge>
            <fa-icon [icon]='faPython' size="4x"></fa-icon>
        </button>
        <button nbButton>
            <nb-badge text="20+" status="danger" position="top">
            </nb-badge>
            <fa-icon [icon]='faPhp' size="4x"></fa-icon>
        </button>
        <button nbButton>
            <nb-badge text="20+" status="warning" position="top">
            </nb-badge>
            <fa-icon [icon]='faLaravel' size="4x"></fa-icon>
        </button>
        <button nbButton>
            <nb-badge text="20+" status="primary" position="top">
            </nb-badge>
            <fa-icon [icon]='faWordpress' size="4x"></fa-icon>
        </button>
    </nb-card-body>
</nb-card>