<nb-card>
  <h4>List Of Tutorials</h4>
</nb-card>
<nb-card *ngFor="let data of ts.datas">
  <nb-card-body>
    <!-- <p>{{data.payload.doc.id}}</p> -->
    <h4>{{data.payload.doc.data().title}}</h4><hr>
    <h6>{{data.payload.doc.data().tag}}</h6>
    <p [innerHtml]="data.payload.doc.data().steps | safehtml ">Fail</p><br>
    <button nbButton appearance="filled" status="primary" (click)="this.ts.deleteData(data)">delete</button>
    <button nbButton appearance="filled" status="primary" (click)="this.ts.updatingData(data)">updating</button>    
  </nb-card-body>
  <nb-card-body *ngIf="ts.updating && (data===ts.dataToUpdate)">
    {{ts.dataToUpdate.payload.doc.id}}
    {{ ts.dataToUpdate.payload.doc.data() | json }}
    <input [(ngModel)]="ts.dataToUpdate.payload.doc.data().title"  [formControl]="ts.titFC" type="text" nbInput status="warning">
    <button nbButton appearance="filled" status="primary" (click)="this.ts.updateData()">update</button>    
  </nb-card-body>
</nb-card>

