<nb-card>
  <nb-card-header fixed>
    <h4>Filter</h4>
  </nb-card-header>
</nb-card>
<!-- <nb-card *ngFor="let data of ts.datas">
  <nb-card-body>
    <p>{{data.payload.doc.id}}</p>
    <h4>{{data.payload.doc.data().title}}</h4><hr>
    <h6>{{data.payload.doc.data().tag}}</h6>
    <p [innerHtml]="data.payload.doc.data().steps | safehtml ">Fail</p><br>
    <button nbButton appearance="filled" status="primary" (click)="this.ts.deleteData(data)">delete</button> 
  </nb-card-body>
</nb-card> -->
<nb-card *ngFor="let data of ts.datas">
  <nb-card-header><a [routerLink]="['/tutorial',data.payload.doc.id]">Read</a></nb-card-header>
  <nb-card-body>
    <p>{{data.payload.doc.id}}</p>
    <h4>{{data.payload.doc.data().title}}</h4><hr>
    <h6>{{data.payload.doc.data().tag}}</h6>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    {{ts.hash | json}}
  </nb-card-body>
</nb-card>

